# Node.js .gitignore

# Logs
logs/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variable files
.env
.env.test

# Node modules
node_modules/

# Build output
dist/
build/

# Dependency directories
jspm_packages/
